apiVersion: v1
kind: ServiceAccount
metadata:
  name: demo-app-ksa
  namespace: config-connector-demo-app
  annotations:
    # replace ${project_id} with your project name
    iam.gke.io/gcp-service-account: demo-app-gsa@${project_id}.iam.gserviceaccount.com